<phpunit bootstrap="../vendor/autoload.php">
	<testsuites>
		<testsuite name="All">
			<directory suffix=".php">./</directory>
		</testsuite>
        <testsuite name="Util">
            <directory suffix=".php">./Util/</directory>
        </testsuite>
		<testsuite name="Struct">
			<directory suffix=".php">./Struct/</directory>
		</testsuite>
	</testsuites>
</phpunit>